<h1>User Profile</h1>
<!-- <div>
  <a href="/user/{{user.id}}/edit">Edit User</a>
</div> -->
<div>
  <form action="/user/{{user.id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete User"/>
  </form>
</div>
<ul>
<li>Username: {{user.name}}</li>
  <li>E-Mail: {{user.email}}</li>
  <li>Watcher since: {{user.created_at}}</li>
    <li>Number of Sightings: {{user.sightings.length}}</li>
</ul>
<form action="/user/{{user.id}}/sightings" method="post">
  <div>
    <input type="text" name="common_name" placeholder="Common Name">
  </div>

  <div>
    <input type="text" name="location" placeholder="Location">
  </div>

  <div>
    <input type="date" name="date" placeholder="">
  </div>

    <div>
    <input type="time" name="time" placeholder="">
  </div>    
  </div>

  <input type="submit" value="Submit">
</form>

{{#each user.sightings}}
	<a class="btn btn-default" href="/user/{{../user.id}}/sightings/{{id}}" role="button">{{common_name}} seen on {{date}}</a>
{{/each}}

blah