<div class="cardContainer"> 
  <div class="sightingCard">
    <h1>{{targetSighting.common_name}}</h1>
    <div>
        <h4>
          <div class="sightingField">Location: {{targetSighting.location}}</div>
          <div class="sightingField">Date: {{targetSighting.date}}</div>
          <div class="sightingField">Time: {{targetSighting.time}}</div>
        </h4>
    </div>
    <hr>
    <h2>Edit Sighting</h2>
    <div class="sightingCardForm">
        <form action="/user/{{targetUser.id}}/sightings/{{targetSighting.id}}?_method=PATCH" method="POST" formenctype="application/x-www-form-urlencoded">
          <div>
            <input type="text" name="common_name" placeholder="Common Name" value="{{targetSighting.common_name}}">
          </div>

          <div>
            <input type="text" name="location" placeholder="Location" value="{{targetSighting.location}}">
          </div>

          <div>
            <input type="date" name="date" placeholder="" value="{{targetSighting.date}}">
          </div>

            <div>
            <input type="time" name="time" placeholder="" value="{{targetSighting.time}}">
          </div>

          <button type="submit" class="btn btn-primary" value="Submit">Update Sighting</button>
        </form>
      </div>

    <div>
<!--       <button type="submit" class="btn btn-primary"value="Submit">Save changes</button> -->
      <form action="/user/{{user.id}}/sightings/{{id}}?_method=DELETE" method="POST">
      <button type="submit" value="Delete Sighting" class="btn btn-danger">Delete Sighting</button>
<!--       <input type="submit" value="Delete Sighting"/> -->
      </form>
    </div>
  </div>
</div>
