
<ul>
  <li>Common Name: {{targetSighting.common_name}}</li>
    <li>Location: {{targetSighting.location}}</li>
    <li>Seen on: {{targetSighting.date}} at {{targetSighting.time}}</li>
</ul>
<form action="/{{targetUser.id}}/sightings/{{targetSighting.id}}?_method=PUT" method="POST">
  <div>
    <input type="text" name="common_name" placeholder="Common Name">
  </div>

  <div>
    <input type="text" name="location" placeholder="Location">
  </div>

  <div>
    <input type="date" name="date" placeholder="">
  </div>

    <div>
    <input type="time" name="time" placeholder="">
  </div>

  <input type="submit" value="Submit">
</form>